<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicksimard.idoc_mar_9_home">


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera2" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/eye"
        android:label="IDoC"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.iDoC.iDoCApp">
        <activity
            android:name="com.example.iDoC.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.iDoC.Pupil"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.iDoC.Saccade"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.iDoC.Antisaccade"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.iDoC.Kingdevick"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.iDoC.AdditionalInfo"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.iDoC.Kingdevick1"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.iDoC.Kingdevick2"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.iDoC.Kingdevick3"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.iDoC.Results"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
